@model IEnumerable<UserIdentity.Models.Topic>

@{
    ViewBag.Title = "Topic";
}

<h2>List Topic</h2>

@if (Roles.IsUserInRole(User.Identity.Name, "Staff"))
{
    <p class="btn btn-danger">
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicDescription)
        </th>
        <th>
            <p>Function</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicDescription)
            </td>
            <td class="btn btn-default">
                @Html.ActionLink("Edit", "Edit", new { id = item.TopicID }) |

            </td>
            <td class="btn btn-success">
                @Html.ActionLink("Details", "Details", new { id = item.TopicID })
            </td>
            <td class="btn btn-danger">
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicID })
            </td>
        </tr>
    }

</table>
